function Keyboard.init 0
push constant 0
return
function Keyboard.keyPressed 1
push local 0
return
function Keyboard.readChar 1
push local 0
return
function Keyboard.readLine 1
push local 0
return
function Keyboard.readInt 0
push constant 1
return
